/* font-family: 'Anton', sans-serif;
font-family: 'Caveat', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: "Roboto",sans-serif;
    scroll-behavior: smooth;
    --color1: #0D0D0D ;
    --color2: #fff ;
    --color3: #D9A796;
    --color4: #F2C0A2;
    --color5: #BF8173;
} 

/* Nav */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 10%;
}

.logo{
    max-width: 3rem;
}

.nav-list{
    display: flex;
    gap: 1.4rem;
}

.nav-list li a {
    font-size: 1.2rem;
    color: var(--color1);
    text-transform: uppercase;
    transition: 0.15s ease-in-out;
    position: relative;
}


.nav-list li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2%;
    background-color: var(--color4);
    transition: 0.15s ease-in-out;
}

.nav-list li a:hover:after{
    width: 100%;
}

.abrir-menu, .cerrar-menu {
    display: none;

}





/* Nav */

/* Main */

/* sec 1 */

.sec__1{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10% 80% 10%;
    overflow: hidden;
    height: 100%;
}

.container_logo picture img{
    width: 100%;
}


.container_logo{
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}


.hero-video{
    grid-area: 1 / 1 / 4 / 4;
    width: 100%;
    height: 100vh;
}

.hero-video video{
    width: 100%;
    height: 100%;
    /* margin-top: 72px; */
    overflow: hidden;
    object-fit: cover;  
}

/* Section Nosotros */

.sec__nosotros{
    height: 100vh;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
    grid-template-rows: 10% 80% 10%;
}


.carta-img{
    grid-area: 2 / 3 / 3/ 2;
}

.carta-img img{
    width: 100%;
    padding: 30px;
    border-radius: 50px;
}

.carta-text{
    grid-area: 2 / 3 / 3/ 4;
    padding: 20px;
    font-size: 1.2rem;
}

.carta-text h2{ 
    font-size: 1rem;
    margin-bottom: 20px;
    color: var(--color1);
}

.carta-text p{
    font-size: 1.6rem;
    color: var(--color1);
}